/*
======
GENERAL
======
*/

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.align-center {
    align-items: center;
}


/*
======
BANNER
======
*/

.left-banner {
    align-items: center;
}

#banner-img {
    width: 80%;
    justify-content: center;
}


/*
======
FORM FIELD SET
======
*/

.fs-title {
    color: var(--redDark);
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
}

fieldset {
    background-color: var(--mainWhite);
    border-radius: var(--lgBorderRadius);
    padding: 50px 70px 50px 70px;
    margin-top: 50px;
    box-shadow: var(--lightShadow);
    display: flex;
    flex-direction: column;
}

fieldset:not(:first-of-type) {
    display: none;
    /* display: block; */
}


/*
======
PROGRESS BAR
======
*/

#progressbar {
    margin-bottom: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: var(--gray);
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 700;
    padding: 5px;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: var(--lgBorderRadius);
    position: relative;
}

#progressbar li:before {
    content: '';
    /*counter(step)*/
    counter-increment: step;
    width: 50px;
    line-height: 50px;
    display: block;
    font-size: 18px;
    color: #fff;
    background: transparent;
    border-radius: 100%;
    margin: 10px auto 10px auto;
    /* border: 2px solid #ECECEC; */
}

#progressbar li p {
    margin-bottom: 0;
}

#progressbar li.active {
    color: var(--mainWhite);
    background-color: var(--redDark);
    transition: all var(--mainTransition);
    padding-bottom: 13px;
}


/*
======
1 PERSONAL DETAILS
======
*/

ul {
    list-style: none;
}

section li {
    display: inline-block;
    margin-right: 15px;
    border: none;
}

input[type=text],
input[type=email],
input[type=date],
option,
select {
    border: 2px solid var(--lighterGray);
    border-radius: var(--smBorderRadius);
    padding: 8px;
    width: 100%;
    margin-bottom: 30px;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=date]:focus,
select:focus {
    outline: none !important;
    border-color: var(--redMedium);
}

input[type=radio] {
    visibility: hidden;
    outline-offset: -30px;
    box-sizing: border-box;
    padding: 20px;
}


/*
======
PACKAGE DETAILS
======
*/

.subject-checkbox {
    visibility: hidden;
    outline-offset: -30px;
    box-sizing: border-box;
    padding: 20px;
}

li.subject-checkbox {
    display: block;
}

.checkbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.btn-check {
    width: 100px;
}

label {
    cursor: pointer;
}

input[type=radio]:checked+label,
.subject-checkbox:checked+label {
    background: var(--mainWhite);
    border: 4px solid var(--redDark);
    box-shadow: var(--darkShadow);
    box-sizing: border-box;
    border-radius: var(--lgBorderRadius);
}

.btn-radio {
    border: none;
    background-color: var(--mainWhite);
    box-shadow: var(--lightShadow);
    color: var(--gray);
}

.btn-radio:hover {
    box-shadow: var(--darkShadow);
}

.btn-scholar {
    color: var(--redDark);
}

.btn-learner {
    color: var(--purple);
}

.btn-standard {
    color: var(--orange);
}

.radio-desc {
    font-weight: 400;
}


/*
======
AVAILABLE TIMINGS
======
*/

.table-title {
    background-color: var(--redLight)!important;
}

.table-full {
    width: 100%;
}

.custom-control-label:before {
    background-color: var(--lighterGray);
    opacity: 70%;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: var(--redDark);
}