/*
======
Variables
======
*/

:root {
    --redDark: #FA5961;
    --redMedium: #FA6970;
    --redLight: #FE969C;
    --redLinear: linear-gradient(180deg, #FEBEC1 0%, #F9595F 100%);
    --mainWhite: #fff;
    --lighterCream: #FFFEFD;
    --cream: #FFFAF6;
    --gray: #7B7A83;
    --lighterGray: #a1a1a1;
    --dark: #0C162D;
    /* Secondary Color */
    --purple: #CF6AFA;
    --orange: #FAA768;
    /* --mainBackground: #f1f5f8; */
    --mainBackground: #f1f8f6;
    --mainOverlay: rgba(35, 10, 36, 0.4);
    --mainTransition: all 0.3s ease;
    /* --mainSpacing: 0.3rem; */
    --lightShadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    --darkShadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
    --smBorderRadius: 0.5rem;
    --lgBorderRadius: 1rem;
    --xlBorderRadius: 10rem;
    --smallWidth: 85vw;
    --maxWidth: 40rem;
    --fullWidth: 1170px;
}


/*
======
Global Styles
======
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap {
    padding: 5%;
}

body {
    font-family: Poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--dark);
    background: var(--mainWhite);
    line-height: 1.4;
    font-size: 1rem;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h6 {
    margin-bottom: 1.25rem;
    /* letter-spacing: var(--mainSpacing); */
}

h1 {
    font-weight: 700;
}

p {
    margin-bottom: 1.25rem;
    font-weight: 400;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-weight: 400;
    color: var(--dark);
}

a:hover {
    text-decoration: none;
    color: var(--redDark);
}

img {
    width: 100%;
    display: block;
}

.logo {
    width: 1.5rem;
    display: inline-block;
}

.logo-title {
    color: var(--redDark);
    font-size: 1.25rem;
    font-weight: 700;
}

.emphasize {
    color: var(--redDark);
}

.form-control {
    border-radius: var(--lgBorderRadius);
    color: var(--redDark);
    border: 2px solid var(--redDark);
}

.form-control::placeholder {
    color: red;
    font-size: 0.8rem;
}

.cream-bg {
    background-color: var(--cream);
}

.title {
    font-weight: 700;
}


/*
======
Rocket Section
======
*/

.red-bg {
    background-color: var(--redDark);
    border-radius: var(--lgBorderRadius);
    margin-top: 70px;
}

.white-title {
    font-weight: 700;
    color: var(--mainWhite);
}

.white-desc {
    color: var(--mainWhite);
}

.rocket {
    width: 20%;
    z-index: 5;
    position: absolute;
    /* top: 10; */
}


/*
======
Navbar
======
*/

.navbar {
    background: var(--mainWhite);
    height: 5rem;
    display: flex;
    align-items: center;
    box-shadow: var(--lightShadow);
}

.nav-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--smallWidth);
    margin: 0 auto;
    max-width: var(--fullWidth);
    text-align: center;
}

.nav-links {
    display: flex;
    align-items: center;
    text-align: center;
}

.nav-links a {
    text-transform: capitalize;
    display: inline-block;
    margin-right: 0.5rem;
    font-weight: 400;
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    transition: var(--mainTransition);
}

.nav-links a:hover {
    color: var(--redDark);
    text-decoration: underline var(--redDark) 2px;
    text-underline-offset: 0.5rem;
}


/*
======
Icon
======
*/

.icon-48 img {
    height: 48px;
    width: 48px;
    margin-bottom: 10px;
}


/*
======
Buttons
======
*/

.btn {
    display: inline-block;
    transition: var(--mainTransition);
    cursor: pointer;
    font-size: 0.8rem;
    border-radius: var(--lgBorderRadius);
    padding: 0.45rem 0.8rem;
    font-weight: 700;
}

.btn-filled-red {
    color: var(--mainWhite);
    background: var(--redLinear);
    border: none;
    padding: 0.6rem 0.8rem;
}

.btn-filled-white {
    color: var(--redDark);
    background: var(--mainWhite);
    border: none;
    padding: 0.6rem 0.8rem;
}

.btn-unfilled-red {
    color: var(--redLight);
    background: transparent;
    border: 2px solid var(--redLight);
}

.btn-unfilled-white {
    color: var(--mainWhite);
    background: transparent;
    border: 2px solid var(--mainWhite);
}

.btn:hover,
.btn:focus {
    opacity: 80%;
}

.btn:before {
    color: var(--redDark);
}

.btn-arrow {
    display: inline-block;
    transition: var(--mainTransition);
    cursor: pointer;
    font-size: 1.5rem;
    line-height: 1.2rem;
    border-radius: var(--xlBorderRadius);
    padding: 0.6rem 0.8rem;
    font-weight: 400;
}

.btn-arrow:hover {
    opacity: 80%;
}


/*
======
Carousel
======
*/

.carousel-wrapper {
    overflow: hidden;
    /* width: 90%; */
    /* margin: auto; */
}

.carousel-wrapper * {
    box-sizing: border-box;
}

.carousel {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.carousel-item {
    opacity: 0;
    position: absolute;
    top: 0;
    /* width: 100%; */
    margin: 0;
    padding: 1rem 4rem;
    z-index: 100;
    transition: transform .5s, opacity .5s, z-index .5s;
}

.carousel-item.initial,
.carousel-item.active {
    opacity: 1;
    position: relative;
    z-index: 900;
}

.carousel-item.prev {
    transform: translateX(-100%);
}

.carousel-item.next {
    transform: translateX(100%);
}

.carousel-btn-prev {
    left: 0;
}

.carousel-btn-next {
    right: 0;
}

.no-margin {
    margin: 0;
}


/* .carousel-btn-prev::after, .carousel-btn-next::after {

} */


/*
======
Footer
======
*/

footer {
    background-color: var(--cream);
}

footer h6 {
    font-weight: bold;
    color: var(--redDark);
}

footer p {
    font-weight: 500;
    color: var(--redDark)
}