.tutor-highlight {

}

.tutor-name {
    color: var(--redDark);
    margin-bottom: 0;
}

.tutor-position {
    font-weight: bold;
}

.qualification {
    margin-top: 1.25rem;
}

.teacher-quote {
    text-align: center;
    color: var(--redDark);
    font-weight: bold;
}

.icon-img {
    color: var(--green);
}