/* .container-text-in-img {
    position: relative;
    text-align: center;
    color: white;
}

.container-text-in-img h3 {
    margin: 0;
}

.text-centre-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */